---
---
<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'/>
<meta name='robots' content='noindex'>
<style type='text/css'>
body {
  margin:0px;
  padding:0px;
  font:normal 18px/24px Arial,sans-serif;
  background:#fff;
  color:#222;
  }
article {
  max-width:800px;
  margin:0px auto;
  padding:40px;
  }
img {
  display:block;
  max-width:100%;
  margin:0px 0px 20px;
  }
pre {
  overflow:auto;
  max-width:100%;
  }
h1 { font-size:2em; line-height:1em; }
h2,h3 { font-size:1.3333em; }
h1,h2,h3 { margin:0px 0px 10px; }
pre, code { font-size:0.8em; }
a { color:#666; }
</style>
</head>
<body><article>
{{content}}
</article></body>
</html>
